<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101174134962-e9smas5iat38tv5fh9q0md9jpk66bp0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101174134962-e9smas5iat38tv5fh9q0md9jpk66bp0d</string>
	<key>API_KEY</key>
	<string>AIzaSyBPnto8LZdyo9v8QbPvmV37FCQKhxkDshI</string>
	<key>GCM_SENDER_ID</key>
	<string>101174134962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikram.OkPeriodDemo</string>
	<key>PROJECT_ID</key>
	<string>okperioddemo</string>
	<key>STORAGE_BUCKET</key>
	<string>okperioddemo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101174134962:ios:79fc4fa9bac4a9e9a2a1ab</string>
</dict>
</plist>